<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1><center>Instructions</center></h1>
    <p><center>1. Upload an image of the template and start the grading session.<br>2. Upload images from your files or camera.<br>3. Send the images to be graded and note down the grade.</center></p>
    <center><h3>Grading Tool</h3></center>
    <center><form method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="template_image">Upload template image</label>
        <input type="file" class="form-control-file" id="template_image" name="template_image" accept=".jpg,.jpeg,.png" required>
      </div>
      <br><br>
      <button type="submit" class="btn btn-primary">Upload and start session</button>
    </form>
    </center>
</body>
</html>
